html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
}

.robot {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  position: absolute;
  top: 0;
  width: 46px;
}

.robot-head-right {
  position: absolute;
  top: 2em;
}

.robot-head-left {
  position: absolute;
  top: 2em;

}
.robot-head-right,
.robot-head-left {
  position: absolute;
  width: 125px;
}
